h1 {
	margin-top: 1rem;
}

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

#no-wifi {
	margin: 0 auto;
	display: none;
	width: 40%;
}

.card {
	border: 1px solid white;
	box-shadow: 4px 6px 18px #eee;
	transition: box-shadow 1s, border 0.2s;
}

a.card {
	padding-left: 5.75rem;
	color: black;
	margin-bottom: 1.4rem;
	border-radius: 0.5rem;
}

a.card img {
	position: absolute;
	width: 5rem;
	top: 0.65rem;
	left: 1rem;
}

.card:hover {
	text-decoration: none;
	border: 1px solid lightsteelblue;
	box-shadow: 4px 6px 18px lightsteelblue;
}

.tabs {
	display: none;
}

@media (min-width:768px) {
	.tabs {
		display: block;
		float: right;
	}
}

.tab {
	position: relative;
	display: inline-block;
	height: 3rem;
	margin-right: 1rem;
}

.tab img {
	position: absolute;
	height: 2rem;
	margin: 0.5rem;
}

.tab p {
	display: inline-block;
	height: 100%;
	line-height: 3rem;
	padding: 0;
	margin: 0 0.5rem 0 3rem;
}
